{{> menu}}

<section class="ui container">

  <div class="ui segment">

    <h2 class="ui header">{{title}}</h2>



    {{#if destinations}}
  <table class="ui unstackable striped table">
    <thead>
      <tr>
        <th class="four wide">Name</th>
        <th class="four wide">Country</th>
        <th class="two wide">Description</th>
        <th class="two wide">Average Cost</th>
        <th class="two wide">Best Season</th>
        <th class="two wide"> </th>
        <th class="two wide"> </th>
      </tr>
    </thead>
    <tbody>
      {{#each destinations}}
  {{> listOneDestination regionId=../regionId}}
  {{> editDestination regionId=../regionId}}
  <script>
    document.querySelector("#showEdit{{@index}}").addEventListener('click', () => {
      document.querySelector("#destination{{@index}}").style.display = "none";
      document.querySelector("#edit{{@index}}").style.display = "table-row";
    })
    document.querySelector("#hideEdit{{@index}}").addEventListener('click', () => {
      document.querySelector("#destination{{@index}}").style.display = "table-row";
      document.querySelector("#edit{{@index}}").style.display = "none";
    })
  </script>
{{/each}}
    </tbody>
  </table>
{{else}}
  <h3 class="ui message">
    No destinations yet!
  </h3>
{{/if}}

  </div>

  <div class="ui segment">
  <form class="ui form" action="/collection/{{regionId}}/adddestination" method="POST">
    <div class="two fields">
      <div class="field">
        <input type="text" name="name" placeholder="Name" required>
      </div>
      <div class="field">
        <input type="text" name="country" placeholder="Country" required>
      </div>
    </div>
    <div class="field">
      <input type="text" name="description" placeholder="Description" required>
    </div>
    <div class="two fields">
      <div class="field">
        <input type="text" name="averageCost" placeholder="Average Cost" required>
      </div>
      <div class="field">
        <input type="text" name="bestSeason" placeholder="Best Season" required>
      </div>
    </div>
    <button class="ui blue submit button">Add Destination</button>
  </form>
</div>

</section>